@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.menu {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
.menu .menu__btn {
  width: 170px;
  border: 1px solid black;
  padding: 10px 15px 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}
.menu__btn .menu__btn--download {
  background-color: #fff;
  border: none;
  padding-left: 10px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

/* -------------End of Header--------------- */

/*-------------- hero section start----------------- */

.hero {
  background-image: url("../assets/Hero-bg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.hero__title {
  font-size: 44px;
  width: 65%;
  text-align: center;
  font-family: Azeret Mono;
}
.hero__description {
  color: #0d1321b3;
  font-size: 18px;
}

.hero__btn {
  width: 150px;
  border: 1px solid black;
  padding: 10px 3px 10px 3px;
  border-radius: 8px;
  margin-top: 20px;
  background-color: black;
  cursor: pointer;
}
.hero__btn .hero__btn--contact {
  background-color: black;
  color: #fff;
  border: none;
  text-align: center;
  width: 150px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.hero__btn--contact a {
  text-decoration: none;
  color: white;
}
/*------------- End of hero section------------ */

/*-------------- Start main Part ---------------*/

.container {
  width: 80%;
  margin: 0 auto;
}
.container .devlopment {
  background-color: #0d132105;
  padding-top: 50px;
  padding-bottom: 60px;
  border-radius: 10px;
}
.devlopment .devlopment__title,
.devlopment__description,
.inspiration .inspiration__title,
.inspiration__discription,
.current-target .current-target_title,
.current-target_discription {
  text-align: center;
  padding: 20px;
  font-family: Azeret Mono;
}
.devlopment__description {
  color: #0d1321b3;
  font-size: 18px;
  font-family: Azeret Mono;
  line-height: 1.5;
  width: 78%;
  margin: 0 auto;
}
.devlopment__item-one {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #fafafb, #ffffff);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 25px;
  color: #0d1321b3;
}
.devlopment__item-one .devlopment__item_one-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 18px;
}

.devlopment__item-one .devlopment__item_one-img {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0px;
}

.devlopment__item-two {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background: linear-gradient(90deg, white, #fafafb);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #0d1321b3;
}

.devlopment__item_one-text--btn {
  width: 150px;
  border: 1px solid #0d1321b3;
  text-align: center;
  background-color: #fff;
}

.learn-btn {
  background-color: #fff;
  border: none;
  padding: 10px 15px 10px 15px;
  font-weight: 700;
  font-size: 18px;
  color: #0d1321b3;
}

.inspiration {
  margin-top: 40px;
}

.inspiration__video {
  margin-top: 20px;
  padding: 30px;
  border: 1px solid #0d132133;
  border-radius: 15px;
}
.inspiration__video iframe {
  border-radius: 15px;
}

.inspiration__discription {
  font-size: 18px;
  color: #0d1321b3;
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
}
.inspiration__title {
  font-family: Azeret Mono;
}
/* -------Current Target------- */

.current-target {
  margin-top: 20px;
  padding-top: 10px;
}
.current-target_boxes {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 10px;
  padding-top: 25px;
}
.current-target__box--one {
  border: none;
  padding: 25px;
  line-height: 2;
  border-radius: 10px;
  width: 300px;
}

.current-target_title {
  font-family: Azeret Mono;
}
.current-target_discription {
  color: #0d1321b3;
  font-size: 18px;
  font-family: Azeret Mono;
  line-height: 1.5;
  width: 80%;
  margin: 0 auto;
}
.current-target__box--one h1 {
  font-weight: 800;
}
.current-target__box--one p {
  color: #0d1321b3;
  font-size: 18px;
}
.current-target__box--one a {
  color: black;
  font-weight: 600;
  font-size: 19px;
}
.one {
  background-color: #ff4c1e0d;
}
.two {
  background-color: #004ce80d;
}
.three {
  background-color: #ffdf000d;
}

/* Start support section */

.support {
  margin-top: 75px;
  width: 100%;
  background-image: url("../assets/handshake.jpg");
  background-blend-mode: darken, luminosity;
  background-color: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2),
    url(Email);
  border-radius: 10px;
  height: 300px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3;
}

.support__description,
.support__title {
  color: white;
}
.support__title {
  font-weight: 700;
  font-size: 35px;
}
.support__form input {
  margin-top: 20px;
  width: 350px;
  padding: 20px 25px 20px 25px;
  border: none;
  border-radius: 10px;
  color: aliceblue;
}

.support__form button {
  width: 100px;
  padding: 16px 5px 16px 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  font-size: 18px;
  font-weight: 700;
}

/* footer Start */
footer {
  margin-top: 50px;
  background-color: #0d132108;
}
.footer__container {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__items {
  display: flex;
  justify-content: right;
}
.footer__items li {
  list-style: none;
  padding-left: 10px;
}

.devlopment__title,
.inspiration__title,
.current-target_title {
  font-size: 35px;
  font-weight: 700;
}
